@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p>Never stop learning</p>
    </div>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Our brands</h2>
    </div>
    <div class="col-md-4">
        <h2>Our clients</h2>
    </div>
    <div class="col-md-4">
        <h2>Our infrastructure</h2>
    </div>
</div>
